body {
  margin: 0; 
  font-family: Arial, sans-serif;

/* header */
header {
  background-color: lightblue;
  padding: 20px;
  text-align: center;
}



/* Navigation Bar */
.navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  background-color: rgb(255, 123, 0);
}

/* Navigation Links */
.navbar li a {
display: block;
color: blue;
text-align: center;
padding: 14px 20px;
text-decoration: none;

}

/* image */
img {
  max-width: 300px;
  display: block;
  margin: 20px auto;
}

/* footer */
footer{
border-top: 2px solid blue;
margin-top: 40px;
background-color: #333;
color: white;
text-align: center;
padding: 15px; 
  } 
}